<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        
        <add key="EthernetPortBase" value="10000" />
        <add key="SerialPortBase" value="20000" />

        <add key="NormalServerIP" value="192.168.200.1" />
        <add key="SwitchServerIP" value="192.168.200.2" />
        <add key="LocalServerIP" value="127.0.0.1" />

        <add key="VPN" value="Download/VPN/" />
        <add key="SecureCRT" value="Download/Secure_lab.exe" />

        <add key="WebService" value="IPLabWebService.asmx" />

        <add key="EncryptPwd" value="654873131" />
    </appSettings>
</configuration>